@model ConestogaCarpool.Models.Ride

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="allBodyLeft">
    <h2>Edit Ride</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RideId" />
                <div class="form-group">
                    <label asp-for="RideStatusId" class="control-label"></label>
                    <select asp-for="RideStatusId" class="form-control" asp-items="ViewBag.RideStatusId"></select>
                    <span asp-validation-for="RideStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostId" class="control-label"></label>
                    <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RequestId" class="control-label"></label>
                    <select asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId"></select>
                    <span asp-validation-for="RequestId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" id="btnAllShared" />
                    <a asp-action="Index" id="btnAllShared">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
