@model ConestogaCarpool.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conestoga Carpool</title>
    <link rel="stylesheet" href="~/css/SharedLayoutStyle.css" />
    <link rel="stylesheet" href="~/css/UserStyleSheet.css" />
    <link rel="icon" href="~/images/logo.png" type="image/png" sizes="16x20">

</head>

<body>
    <main>
        <div class="allBodyLeft">
            <h2>New User Registration</h2>
            <hr />
            <br /><br />
            <p class="tempData">@TempData["Message"]</p>
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="textboxLabel"></label>
                            <input asp-for="Username" id="textBoxes" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="textboxLabel"></label>
                            <input asp-for="Password" type="password" id="textBoxes" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="textboxLabel">Confirm Password</label>
                            <input name="ConfirmPassword" type="password" id="textBoxes" />
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="textboxLabel">First Name</label>
                            <input asp-for="FirstName" id="textBoxes" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="textboxLabel">Last Name</label>
                            <input asp-for="LastName" id="textBoxes" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="textboxLabel"></label>
                            <input asp-for="Email" id="textBoxes" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="buttonGroup">
                            <input type="submit" value="Create" id="btnAllShared" />
                            <a asp-action="SignIn" id="btnAllShared">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <p>&copy; 2019 - Conestoga Carpool</p>
    </footer>
</body>
</html>

<style>
    .field-validation-error {
        color: #3dd53e;
    }
</style>