@model ConestogaCarpool.Models.User

@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="allBodyLeft">
    <h2>Edit Password</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />

                <div class="form-group">
                    <label class="textboxLabel" for="OldPassword">Old Password:</label>
                    <input name="OldPassword" type="password" id="textBoxes" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="textboxLabel" for="NewPassword">New Password:</label>
                    <input name="NewPassword" type="password" id="textBoxes" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="textboxLabel" for="ConfirmNewPassword">Confirm New Password:</label>
                    <input name="ConfirmNewPassword" type="password" id="textBoxes" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" id="btnAllShared" class="btn btn-default" />
                    <a asp-action="Details" id="btnAllShared">Back to Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}