@model IEnumerable<ConestogaCarpool.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="homeView">
        @foreach (var item in Model)
        {
            ViewBag.UserId = item.UserId;
            <h1>Welcome  @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.LastName)</h1>
            <h2>Who Are You Today? </h2>

            <div class="homeButtons">
                <a asp-action="PassengerOptions" id="btnPassenger" asp-route-UserId="@item.UserId">Passenger</a>
                <a asp-controller="Driver" id="btnDriver" asp-action="Index" asp-route-UserId="@item.UserId">Driver</a>
            </div>
        }
    </div>
