@model ConestogaCarpool.Models.Request

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="allBodyLeft">
    <h2>Edit Request</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RequestId" />
                <div class="form-group">
                    <label asp-for="RequestStatusId" class="textboxLabel"></label>
                    <select asp-for="RequestStatusId" id="textBoxes" asp-items="ViewBag.RequestStatusId"></select>
                    <span asp-validation-for="RequestStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassengerId" class="textboxLabel"></label>
                    <select asp-for="PassengerId" id="textBoxes" asp-items="ViewBag.PassengerId"></select>
                    <span asp-validation-for="PassengerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostId" class="textboxLabel"></label>
                    <select asp-for="PostId" id="textBoxes" asp-items="ViewBag.PostId"></select>
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" id="btnAllShared" />
                    <a asp-action="Index" id="btnAllShared">Back to Requests</a>
                </div>
            </form>
        </div>
    </div>
</div>

