@model ConestogaCarpool.Models.Driver

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="allBodyLeft">
        <h2>Edit Driver Information</h2>
        <br />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DriverId" />
                    <div class="form-group">
                        <label asp-for="LicenceClassId" class="textboxLabel"></label>
                        <select asp-for="LicenceClassId" id="textBoxes" asp-items="ViewBag.LicenceClassId"></select>
                        <span asp-validation-for="LicenceClassId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Experience" class="textboxLabel"></label>
                        <input asp-for="Experience" id="textBoxes" />
                        <span asp-validation-for="Experience" class="text-danger"></span>
                    </div>
                    <div class="buttonGroup">
                        <input type="submit" value="Save" id="btnAllShared" />
                        <a asp-action="Index" id="btnAllShared" >Back to Driver Profile</a>
                    </div>
                </form>
            </div>
        </div>
</div>

    <style>
        .field-validation-error {
            color: #3dd53e;
        }
    </style>